@charset "UTF-8";
@media only screen and (min-width: 751px) {
  .main {
    margin: auto;
    width: 751px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 115px;
  }
  .main__heading img {
    width: 142px;
    height: 48px;
  }
  .main__item:nth-child(even) {
    background-color: #fbf4d4;
  }
  .main__item:nth-child(even) .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__item:nth-child(even) .content-data__btn {
    background-color: white;
  }
  .main__item:nth-child(n+2) .content-data__btn {
    width: 232px;
    height: 59px;
    color: #d27c59;
    font-size: 31px;
    font-family: GothicA1-Medium;
    border-radius: 35px;
    border: 1px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    color: #000000;
  }
  .main__item:nth-child(n+2) .content-data__btn:nth-child(2) {
    margin-left: 15px;
    font-size: 34px;
  }
  .main__item:nth-child(n+2) .content-data__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
  .main__item:nth-child(4) .content__description {
    width: 658px;
  }
  .main__item:nth-child(5) .content-figure {
    height: auto;
    width: 660px;
    margin: auto;
  }
  .main__item:nth-child(5) .content__description {
    width: 658px;
  }
  .main__item:nth-child(7) .content-figure {
    height: auto;
    width: 660px;
    margin: auto;
  }
  .banner {
    background-color: #fbf4d4;
    padding: 55px 0;
  }
  .banner__heading {
    font-size: 73px;
    color: #221714;
    text-align: center;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 10px 0 24px 0;
  }
  .banner__heading img {
    width: 100%;
    height: 100%;
  }
  .banner__heading--sub {
    margin: 0 0 48px 0;
    height: 38px;
    width: 566px;
  }
  .banner__heading--sub img {
    width: 100%;
    height: 100%;
  }
  .banner__wrapper {
    width: 665px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__img-select {
    width: 271px;
    height: 65px;
    margin: auto;
    padding-bottom: 61px;
  }
  .banner__text {
    font-size: 29px;
    text-align: center;
    font-family: GothicA1-Regular;
    line-height: 46px;
    color: #221714;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 72px;
  }
  .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 29px;
    margin-bottom: 30px;
    width: 100%;
  }
  .content-figure {
    height: auto;
    width: 700px;
  }
  .content-figure img {
    width: 100%;
    height: 100%;
  }
  .content-figure__list {
    padding-top: 16px;
    margin-top: 14px;
    position: relative;
  }
  .content-figure__list::before {
    content: '';
    background-image: url("../img/border-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
  }
  .content-figure__item {
    font-size: 24px;
    line-height: 28px;
    font-family: GothicA1-Regular;
  }
  .content-figure__item::before {
    content: '※';
  }
  .content__description {
    font-size: 26px;
    line-height: 47px;
    color: #000000;
    width: 646px;
    margin-bottom: 80px;
    text-align: justify;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .content-data__wrapper {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-data__wrapper--centered {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-data__heading {
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    width: 100%;
    line-height: 38px;
  }
  .content-data__text {
    font-size: 26px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    width: 100%;
  }
  .content-data__item {
    line-height: 38px;
    font-size: 26px;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content-data__item--icon {
    font-size: 26px;
    line-height: 38px;
    padding-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content-data__item--icon::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-left: -11px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/icon01.png");
  }
  .content-data__item--icon-none {
    font-size: 26px;
    line-height: 38px;
    padding-left: 12px;
  }
  .content-data__item--icon-none::before {
    display: none;
  }
  .content-data__item::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-left: -11px;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-data__item:last-child {
    margin-bottom: 0;
  }
  .content-data__item:nth-child(1) {
    padding: 0;
  }
  .content-data__item:nth-child(1)::before {
    display: none;
  }
  .content-data__item:nth-child(2)::before {
    background-image: url("../img/icon02.png");
  }
  .content-data__item:nth-child(3)::before {
    background-image: url("../img/icon03.png");
  }
  .content-data__item:nth-child(4)::before {
    background-image: url("../img/icon04.png");
  }
  .content-data__item:nth-child(5)::before {
    background-image: url("../img/icon05.png");
  }
  .content-data__btn {
    width: 230px;
    height: 65px;
    background-color: #fbf4d4;
    color: #000000;
    font-size: 29px;
    font-family: GothicA1-Medium;
    border-radius: 70px;
    border: 1px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-data__btn:nth-child(1) {
    width: 495px;
    margin-bottom: 30px;
  }
  .content-data__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .main {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 15.333vw;
  }
  .main__heading img {
    width: 18.933vw;
    height: 6.400vw;
  }
  .main__item:nth-child(even) {
    background-color: #fbf4d4;
  }
  .main__item:nth-child(even) .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__item:nth-child(even) .content-data__btn {
    background-color: white;
  }
  .main__item:nth-child(n+2) .content-data__btn {
    width: 30.990vw;
    height: 7.813vw;
    color: #d27c59;
    font-size: 4.133vw;
    font-family: GothicA1-Medium;
    border-radius: 4.667vw;
    border: 0.133vw solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    color: #000000;
  }
  .main__item:nth-child(n+2) .content-data__btn:nth-child(2) {
    margin-left: 1.953vw;
    font-size: 4.533vw;
  }
  .main__item:nth-child(n+2) .content-data__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 2.604vw;
  }
  .main__item:nth-child(4) .content__description {
    width: 87.667vw;
  }
  .main__item:nth-child(5) .content-figure {
    height: auto;
    width: 88vw;
    margin: auto;
  }
  .main__item:nth-child(5) .content__description {
    width: 87.667vw;
  }
  .main__item:nth-child(7) .content-figure {
    height: auto;
    width: 88vw;
    margin: auto;
  }
  .banner {
    background-color: #fbf4d4;
    padding: 7.333vw 0;
  }
  .banner__heading {
    font-size: 9.733vw;
    color: #221714;
    text-align: center;
    font-family: fot-udkakugo-large-pr6n, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 1.333vw 0 3.200vw 0;
  }
  .banner__heading img {
    width: 100%;
    height: 100%;
  }
  .banner__heading--sub {
    margin: 0 0 6.400vw 0;
    height: 5.067vw;
    width: 75.467vw;
  }
  .banner__heading--sub img {
    width: 100%;
    height: 100%;
  }
  .banner__wrapper {
    width: 88.667vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__img-select {
    width: 36.133vw;
    height: 8.667vw;
    margin: auto;
    padding-bottom: 8.133vw;
  }
  .banner__text {
    font-size: 3.867vw;
    text-align: center;
    font-family: GothicA1-Regular;
    line-height: 6.133vw;
    color: #221714;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 9.600vw;
  }
  .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 3.867vw;
    margin-bottom: 4vw;
    width: 100%;
  }
  .content-figure {
    height: auto;
    width: 93.333vw;
  }
  .content-figure img {
    width: 100%;
    height: 100%;
  }
  .content-figure__list {
    padding-top: 2.133vw;
    margin-top: 1.867vw;
    position: relative;
  }
  .content-figure__list::before {
    content: '';
    background-image: url("../img/border-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 0.400vw;
    width: 100%;
  }
  .content-figure__item {
    font-size: 3.200vw;
    line-height: 3.733vw;
    font-family: GothicA1-Regular;
  }
  .content-figure__item::before {
    content: '※';
  }
  .content__description {
    font-size: 3.467vw;
    line-height: 6.267vw;
    color: #000000;
    width: 86.133vw;
    margin-bottom: 10.667vw;
    text-align: justify;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .content-data__wrapper {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-data__wrapper--centered {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-data__heading {
    width: 100%;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.467vw;
    line-height: 5.067vw;
  }
  .content-data__text {
    font-size: 3.467vw;
    line-height: 5.067vw;
    width: 100%;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .content-data__item {
    line-height: 5.067vw;
    font-size: 3.467vw;
    font-family: a-otf-gothic-bbb-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-left: 1.600vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content-data__item--icon {
    font-size: 3.467vw;
    line-height: 5.067vw;
    padding-left: 1.600vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .content-data__item--icon::before {
    content: "";
    width: 3.255vw;
    height: 3.255vw;
    margin-top: 0.911vw;
    margin-left: -1.467vw;
    margin-right: 0.667vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/icon01.png");
  }
  .content-data__item--icon-none {
    font-size: 3.467vw;
    line-height: 5.067vw;
    padding-left: 1.600vw;
  }
  .content-data__item--icon-none::before {
    display: none;
  }
  .content-data__item::before {
    content: "";
    width: 3.255vw;
    height: 3.255vw;
    margin-top: 0.911vw;
    margin-left: -1.467vw;
    margin-right: 0.667vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content-data__item:last-child {
    margin-bottom: 0;
  }
  .content-data__item:nth-child(1) {
    padding: 0;
  }
  .content-data__item:nth-child(1)::before {
    display: none;
  }
  .content-data__item:nth-child(2)::before {
    background-image: url("../img/icon02.png");
  }
  .content-data__item:nth-child(3)::before {
    background-image: url("../img/icon03.png");
  }
  .content-data__item:nth-child(4)::before {
    background-image: url("../img/icon04.png");
  }
  .content-data__item:nth-child(5)::before {
    background-image: url("../img/icon05.png");
  }
  .content-data__btn {
    width: 30.667vw;
    height: 8.667vw;
    background-color: #fbf4d4;
    color: #000000;
    font-size: 3.906vw;
    font-family: GothicA1-Medium;
    border-radius: 9.333vw;
    border: 0.133vw solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-data__btn:nth-child(1) {
    width: 66vw;
    margin-bottom: 4vw;
  }
  .content-data__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2.604vw;
  }
  @font-face {
    font-family: GothicA1-Medium;
    src: url("../font/Gothic_A1/GothicA1-Medium.ttf");
  }
  @font-face {
    font-family: GothicA1-Regular;
    src: url("../font/Gothic_A1/GothicA1-Regular.ttf");
  }
  @font-face {
    font-family: GothicA1-Light;
    src: url("../font/Gothic_A1/GothicA1-Light.ttf");
  }
}

.login-wrapper {
  padding: 10px;
  border-radius: 5px;
  background-color: #e4e2e2;
  width: 260px;
  margin: auto;
  margin-top: 10px;
}

.login-title {
  text-align: center;
  color: #333;
  margin: 0 0 20px 0;
}

.login-body {
  text-align: center;
}

.passbox {
  width: 157px;
  border-radius: 2px;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul,
ol,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

img {
  vertical-align: bottom;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */